@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html, body {
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body {
    background-color: black;
    color: white;
}
header {
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5vw; 
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 3rem;
    color: #DC3F00;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 20px;
}
.logo:hover {
    transform: scale(1.1);
}
.lang-container {
    display: flex;
    gap: 10px;
}
.lang-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.5s ease; 
}
.lang-button:hover .lang-icon {
    transform: scale(1.1); 
}
.lang-icon {
    width: 40px;
    height: 40px;
    transition: 0.2s ease; 
}
section {
    min-height: 100vh;
    padding: 1rem 5vw; 
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
    max-width: 100vw; 
    overflow-x: hidden;
}
.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: #58927E;
}
.home-content h3 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
    font-weight: 700;
}
.home-content p {
    font-size: 2rem;
}
.home-img {
    border-radius: 50%;
}
.home-img img {
    position: relative;
    width: 32vw;
    height: auto; 
    border-radius: 50%;
    box-shadow: 0 0 25px solid #58927E;
    cursor: pointer;
    transition: 0.2s linear;
    max-width: 32vh;
}
img {
    max-width: 100%; 
    height: auto;
}
.home-img img:hover {
    font-size: 2rem;
    font-weight: 500;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #58927E;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #58927E;
}
.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #58927E;
    box-shadow: 0 0 25px #58927E;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 2rem;
    color: #58927E;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #58927E;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    transform: scale3d(1.03);
    background-color: #58927E;
    color: black;
    box-shadow: 0 0 25px #58927E;
}
.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span {
    position: relative;
}
.typing-text span::before {
    content: "Data Analyst & Business Intelligence";
    color: #DC3F00;
    animation: words 5s infinite;
}
.typing-text span::after {
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}
@keyframes cursor {
    to {
        border-left: 3px solid #1978A5;
    }
}
@keyframes words {
    0%, 49% {
        content: "Data Analyst 🧮";
    }
    50%, 100% {
        content: "Business Analyst 📈";
    }
}
@media (max-width: 1000px) {
    .home {
        gap: 4rem;
    }
}
@media (max-width: 995px) {
    .home {
        flex-direction: column;
        gap: 2rem;
    }
    .home .home-content h3 {
        font-size: 2.2rem;
    }
    .home-content h1 {
        font-size: 3rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 1rem;
    }
    .home .home-content h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .home-content h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    .home-content p {
        font-size: 1.6rem;
    }
}


.packages-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 100%; 
    max-width: 100%; 
    margin: auto;
}
.package_basic {
    padding: 20px;
    border: 2px solid #C0C0C0;
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.package_standard {
    padding: 20px;
    border: 2px solid #BC8F8F;
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.package_premium {
    padding: 20px;
    border: 2px solid #DAA520;
    border-radius: 15px;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 20000px) {
    .packages-container {
        flex-direction: row;
        justify-content: center;
    }
}

.responsive-text {
    display: block;
}
@media (max-width: 600px) {
    .responsive-text {
        display: none;
    }
}


.section-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    border: 1px solid rgba(46, 64, 83, 1);
    padding: 20px;
    border-radius: 8px;
    background-color: black;
    flex-direction: row; 
}
.section-preview:hover {
    background-color: rgba(46, 64, 83, 0.4);
    cursor: pointer;
}
.section-preview-content {
    max-width: 80%;
}
.section-preview img {
    max-width: 10%;
}
.section-preview-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-preview-title h2 {
    margin: 0;
    font-size: 5em;
    color: #DC3F00;
}
.section-preview p {
    margin: 10px 0;
    font-size: 4em;
    color: #58927E;
    text-align: justify;
}






.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; 
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: auto; 
}
.back-button img {
    width: 50px; 
    height: 50px;
}
.resume {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 80%;
    margin: 0 auto; 
    text-align: center; 
}
.main-div {
    width: 98%;
    box-sizing: border-box;
}
.title-div {
    font-weight: bold;
    font-size: 5rem;
    margin-top: 1em;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #DC3F00; 
}
.text-div {
    font-size: 3em;
    text-align: justify;
    margin-bottom: 20px;
}
.images-div {
    display: flex;
    gap: 10px;
    width: 100%; 
}
.images-div img {
    max-width: 800px;
    height: auto;
}
* {
    box-sizing: border-box;
}
.container {
    position: relative;
    width: 100%; 
    max-width: 800px;
    margin: 0 auto;
    margin-top: 3em;
    border-radius: 2em;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 1);
}
.caption-container {
    text-align: center;
    padding: 2px 16px;
    margin-bottom: 0.5em;
    color: #58927E;
    font-size: 3em;
    border-radius: 2em;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.column {
    flex: 0 1 16.66%;
    display: flex;
    justify-content: center;
}
.demo {
    opacity: 0.4;
    max-width: 100%; 
    height: auto;
}
.active,
.demo:hover {
    opacity: 1;
}
.logo_article {
    font-size: 3rem;
    color: #DC3F00;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    margin-top: 20px;
}
.logo_article:hover {
    transform: scale(1.1);
}
.en_avant {
    color: #58927E;
}
.ident {
    margin-left: 30px;
    color: inherit;
}
.techno-div {
    font-size: 2.5rem;
    margin-top: 1em;
    margin-bottom: 3rem;
    font-weight: 700;
    color: #1978A5; 
}




@media screen and (max-width: 768px) {
    .section-preview {
        flex-direction: column;
        align-items: center;
    }
    .section-preview img {
        max-width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .section-preview-content {
        max-width: 100%; 
        text-align: center;
    }
    .section-preview-title h2 {
        font-size: 4em; 
    }
    .section-preview p {
        font-size: 2.5em; 
        text-align: justify;
    }
    .title-div {
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 1em;
        margin-bottom: 1rem;
        font-weight: 700;
        color: #DC3F00; 
    }
    .techno-div {
        font-size: 1.4rem;
        margin-top: 1em;
        margin-bottom: 1rem;
        font-weight: 700;
        color: #1978A5; 
    }
    .text-div {
        font-size: 2.3em;
        text-align: justify;
        margin-bottom: 20px;
    }
    .container {
        position: relative;
        width: 98%; 
        max-width: 100%; 
        margin: 0 auto;
        margin-top: 3em;
    }
    .caption-container {
        text-align: center;
        padding: 2px 16px;
        margin-bottom: 0.5em;
        color: #58927E;
        font-size: 3em;;
    }
    .logo_article {
        display: none;
    }
    .back-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent; 
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-left: auto; 
    }
    .resume {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        padding: 20px;
        position: relative;
        width: 98%;
        margin: 0 auto; 
        text-align: center; 
    }
}

